@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "YuGothic";
    src: url(../fonts/yugothib.ttf);
}

$font-mont: 'Montserrat', sans-serif;
$font-yugothic: "YuGothic";
$font-noto: 'Noto Sans JP', sans-serif;