@import './media';
@import './config';
@import './reset';
@import './l-common';
@import "./components/top_section";
@import "./components/shadow";

.top {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid;
    padding-top: 40rem;
    position: relative;
    @include media-sp {
      padding-top: 20rem;
    }

    &--head {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 150rem;
      padding-bottom: 20rem;
      @include media-pc {
        padding-left: 100rem;
      }

      @include media-sm {
        padding-left: 80rem;
      }

      &_logo {
        width: 300px;
        height: 90px;
        @include media-sp {
          display: none;
        }
      }

      &_menu {
        width: 150px;
        height: 80px;
        border-radius: 50px 0px 0px 50px;
        background-color: #F8EEEE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-pc {
          width: 120rem;
          height: 60rem;

        }
        @include media-sp {
          display: none;
        }
        
        &-ttl {
          color: #726D5F;
          font-size: 30rem;
          font-family: $font-noto;
          
  
          @include media-sp {
            font-size: 10rem;
          }
  
          @include media-sm {
            font-size: 6rem;
          }

        }
      }

    }

    &--content {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding-bottom: 20rem;

      @include media-sp {
        padding-top: 20rem;
      }

      &_female {
        width: 350rem;
        height: 430rem;
        z-index: 9999;
        @include media-sp {
          width: 400rem;
          height: 550rem;
        }
      }

      &_compintro {
       height: 400rem;
        z-index: 9998;
        @include media-sp {
          display: none;
        }
      }
    }

    &--last {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_logo {
        width: 590rem;
        height: 176rem;
        z-index: 9999;
      }
     
    }

    &--deco {
      position: absolute;
      right: 0;
      top: 10rem;
      width: 350rem;
      z-index: 1;
      @include media-sp {
        top: -30rem;
      }
      @include media-sm {
        display: none;
      }
      
    }
  }
}

.about {
  &__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid;
  }
}