@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "YuGothic";
  src: url(../fonts/yugothib.ttf);
}
/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 1px;
  overflow: hidden;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 0.0520833333vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 0.2564102564vw;
  }
}

*::-moz-selection {
  color: white;
}

*::selection {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus {
  outline: 0;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 5px;
}

.abs_bar {
  position: fixed;
  left: 20px;
  height: 600px;
  z-index: 1;
  width: 50px;
  top: 30%;
  color: #707070;
}
.abs_bar__space {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.abs_bar__line {
  width: 2px;
  height: 100%;
  background-color: #707070;
  z-index: 0;
}
.abs_bar__line--animate {
  position: absolute;
  width: 2px;
  z-index: 1;
  background: #000;
}
.abs_bar__ttls {
  position: absolute;
  height: 100%;
  width: 150px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.abs_bar__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  left: -8px;
  z-index: 2;
}
.abs_bar__options--item {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
  border-radius: 50px;
  background-color: #fff;
}
.abs_bar__options--item__selected {
  background-color: #707070;
}
.abs_bar__options--item__animate {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-radius: 50px;
  left: -9px;
  top: -8px;
}

.top__container, .about__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFBEC;
  border-bottom: 2px solid;
}/*# sourceMappingURL=style.css.map */