.abs_bar {
    position: fixed;
    left: 150rem;
    height: 600rem;
    z-index: 1;
    width: 50px;
    top: 30%;
    color: #707070;

    &__space {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__line {
        width: 2px;
        height: 100%;
        background-color: #707070;
        z-index: 0;

        &--animate {
            position: absolute;
            width: 2px;
            z-index: 1;
            background: #000;
        }
    }

    &__ttls {
        position: absolute;
        height: 100%;
        width: 150px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        left: -5rem;
        z-index: 2;

        &--item {
            position: relative;
            width: 10px;
            height: 10px;
            border: 1px solid #707070;
            border-radius: 50px;
            background-color: #fff;

            &__selected{
                background-color: #707070;
            }

            &__animate {
                position: absolute;
                width: 25px;
                height: 25px;
                border: 1px solid;
                border-radius: 50px;
                left: -7rem;
                top: -8px;
            }
        }
    }

}
@include media-sp {
    .abs_bar {
        display: none;
    }
}